<header class="flex justify-between items-center py-4 px-10">
    <img class="h-12" src="assets/logo.png" alt="logo">
    <nav class="flex gap-4">
        <p-button routerLink="/attractions" styleClass="p-button-text">Главная</p-button>
        <p-button *ngIf="isAuth" routerLink="/profile" styleClass="p-button-text">Профиль</p-button>
        <p-button routerLink="/signup" styleClass="p-button-text">Регистрация</p-button>
        <p-button routerLink="/login">Войти</p-button>
    </nav>
</header>