<header class="flex justify-between items-center py-4 px-4 sm:px-10 sm:py-6">
    <img routerLink="/" class="h-12 cursor-pointer" src="assets/logo.png" alt="logo">
    <nav class="hidden gap-4 md:flex">
        <button routerLink="/">Главная</button>
        <button routerLink="/search">Поиск</button>
        <ng-container *ngIf="isAuth">
            <button routerLink="/profile">Профиль</button>
            <button (click)="logout()">Выйти</button>
        </ng-container>
        <ng-container *ngIf="!isAuth">
            <button (click)='openModal("Регистрация")'>Регистрация</button>
            <button (click)='openModal("Вход")'>Войти</button>
        </ng-container>
    </nav>
    <i class="icon pi pi-bars block md:hidden" (click)="isMobileModalVisible = !isMobileModalVisible"></i>
</header>

<p-dialog [(visible)]="isMobileModalVisible" [modal]="true" [style]="{ width: '100vw', height: '100vh' }" [draggable]="false"
    [resizable]="false" header="Навигация" position="top">
    <div class="flex flex-col gap-8 pt-4">
        <button class="text-button text-lg" (click)="routeTo('/')" routerLink="/">Главная</button>
        <button class="text-button text-lg" (click)="routeTo('/search')" routerLink="/search">Поиск</button>
        <ng-container *ngIf="isAuth">
            <button class="text-button text-lg" (click)="routeTo('/profile')">Профиль</button>
            <button class="text-button text-lg" (click)="logout()">Выйти</button>
        </ng-container>
        <ng-container *ngIf="!isAuth">
            <button class="text-button text-lg" (click)='openModal("Регистрация")'>Регистрация</button>
            <button class="text-button text-lg" (click)='openModal("Вход")'>Войти</button>
        </ng-container>
    </div>
</p-dialog>

<p-dialog [(visible)]="isAuthModalVisible" [modal]="true" [style]="{ width: 'fit-content' }" [draggable]="false"
    [resizable]="false" [header]="chosenModal" *ngIf="isAuthModalVisible">
    <form (ngSubmit)="submit()" class="grid gap-4" [formGroup]="userData">
        <input type="text" formControlName="username" placeholder="Ваше имя">
        <input type="email" *ngIf="chosenModal === 'Регистрация'" formControlName="email" placeholder="Ваша почта">
        <input type="text" formControlName="password" placeholder="Ваш пароль">
        <button>Подтвердить</button>
    </form>
</p-dialog>