:host {
    .city {
        width: 100%;
        height: fit-content;
        position: relative;
        cursor: pointer;

        img {
            border-radius: 5px;
            height: 500px;
            object-fit: cover;
            box-shadow: inset 0 100px 20px 0 rgba($color: #000000, $alpha: .3);
        }

        p {
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: white;
            font-weight: 600;
            font-size: 20px;
        }
    }

    .main-header {
        height: 100vh;
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
            url('../../../assets/main-1.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        text-align: center;

        .float-text {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 998;
            color: white;
            position: absolute;
            font-size: 50px;
        }

        img {
            width: 100vw;
            height: 100vh;
        }
    }

    .main-content {
        margin: 0 var(--side-margin);
        margin-bottom: 50px;
    }

    .link {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        cursor: pointer;
        transition: .2s;

        &:hover {
            color: var(--red)
        }
    }

    @media (max-width: 640px) {
        .main-content {
            margin: 0 20px;

            .city img {
                height: auto;
                width: 100%;
            }
        }
    }

    // ::ng-deep {
    //     .p-carousel {
    //         width: 100vw;
    //     }

    //     .p-carousel-container {
    //         height: 100vh;
    //     }

    //     .p-carousel-item {
    //         height: 100vh;

    //         img {
    //             width: 100vw;
    //             height: 100%;
    //             filter: blur(4px) brightness(95%);
    //         }
    //     }
    // }
}