<main class="grid gap-24">
  <div class="w-full text-center main-header">
    <h1 class="big-title float-text">Изучайте Удмуртию вместе с нами!</h1>
  </div>
  <div class="grid gap-24 main-content">
    <div class="cities">
      <h2 class="big-title mb-4">Куда отправимся в путешествие?</h2>
      <div class="gap-8 grid grid-cols-1 sm:!grid-cols-1 md:!grid-cols-2 lg:!grid-cols-4">
        <div routerLink="/search" [queryParams]="{city: city.name}" class="city" *ngFor="let city of cities">
          <img loading="lazy" [src]="'assets/' + city.img" alt="">
          <p>{{city.name}}</p>
        </div>
      </div>
    </div>
    <div>
      <a (click)="routeToSearch('Официальный')" class="link">
        <h2 class="big-title">Официальные</h2>
        <i class="pi pi-arrow-right"></i>
      </a>
      <div class="grid gap-8 grid-cols-1 sm:!grid-cols-2 lg:!grid-cols-4 2xl:!grid-cols-6" *ngIf="officilAttrs?.length">
        <app-card *ngFor="let attr of officilAttrs" [data]="attr"></app-card>
      </div>
      <p-progressSpinner *ngIf="!officilAttrs?.length"></p-progressSpinner>
    </div>
    <div>
      <a (click)="routeToSearch('От народа')" class="link">
        <h2 class="big-title">Достопримечательности от народа</h2>
        <i class="pi pi-arrow-right"></i>
      </a>
      <div class="grid gap-8 grid-cols-1 sm:!grid-cols-2 lg:!grid-cols-4 2xl:!grid-cols-6" *ngIf="publicAttrs?.length">
        <app-card *ngFor="let attr of publicAttrs" [data]="attr"></app-card>
      </div>
      <p-progressSpinner *ngIf="!publicAttrs?.length"></p-progressSpinner>
    </div>
  </div>
</main>