<div class="grid gap-8 main-container">
    <ng-container *ngIf="!loading">
        <form class="flex gap-4 flex-col md:flex-row" [formGroup]="userData">
            <input formControlName="userName" placeholder="Ваше имя">
            <input formControlName="email" placeholder="Ваша почта">
        </form>
        <div class="flex w-full md:w-fit">
            <ng-container *ngFor="let item of types">
                <div class="flex justify-center cell w-full md:w-fit items-center px-4 py-2 cursor-pointer" (click)="changeType(item)" [class.active]="item.name === type.name">
                    <i [class]="item.icon"></i>
                    <span class="hidden md:block" style="margin-left: 8px">
                        {{item.name}}
                    </span>
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="type.name === 'Избранное'">
            <div class="grid gap-4">
                <h1 class="middle-title">
                    Избранное
                </h1>
                <div class="grid gap-4 grid-cols-1 sm:!grid-cols-2 lg:!grid-cols-4 2xl:!grid-cols-6" *ngIf="favoriteAttr?.length; else emptyFav">
                    <app-card *ngFor="let attr of favoriteAttr" [data]="attr"></app-card>
                </div>
                <ng-template #emptyFav>
                    <p style="color: var(--sub-text)">
                        Нажмите на середчко у достопримечательности и оно будет здесь отображаться
                    </p>
                </ng-template>
            </div>
        </ng-container>
        <ng-container *ngIf="type.name === 'Мои достопримечательности'">
            <div class="grid gap-4">
                <h1 class="middle-title">
                    Мои достопримечательности
                </h1>
                <div class="grid gap-4 grid-cols-1 sm:!grid-cols-2 lg:!grid-cols-4 2xl:!grid-cols-6" *ngIf="userAttr?.length else emptyUser">
                    <app-card *ngFor="let attr of userAttr" [data]="attr"></app-card>
                </div>
                <ng-template #emptyUser>
                    <p style="color: var(--sub-text)">
                        Пока вы не создали ни одной достопримечательности
                    </p>
                </ng-template>
                <button (click)="toggleModal()">Создать Место</button>
            </div>
        </ng-container>
    </ng-container>
    <div *ngIf="loading" class="text-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>

<p-dialog [(visible)]="isModalVisible" [modal]="true" [style]="{ width: 'fit-content' }" [draggable]="false"
    [resizable]="false" header="Создание места" [maximizable]="true">
    <form (ngSubmit)="createAttraction()" [formGroup]="attrData" class="grid gap-4 justify-between md:flex">
        <ng-container *ngIf="attrData.value.img">
            <img loading="lazy" class="modal-img" [src]="attrData.value.img" [alt]="attrData.value.img"/>
        </ng-container>
        <div class="flex flex-col gap-4">
            <div class="input-box">
                <label>
                    <span style="color: var(--red);">* </span>
                    Заголовок
                </label>
                <input placeholder="Заголовок" formControlName="title">
            </div>
            <div class="input-box">
                <label>
                    <span style="color: var(--red);">* </span>
                    Категории
                </label>
                <p-multiSelect class="md:max-w-md md:w-full" [options]="categories" formControlName="categories"></p-multiSelect>
            </div>
            <div class="input-box">
                <label>
                    <span style="color: var(--red);">* </span>
                    Стоимость
                </label>
                <input type="number" placeholder="Стоимость" formControlName="price">
            </div>
            <div class="input-box">
                <label>
                    <span style="color: var(--red);">* </span>
                    Время работы
                </label>
                <div class="flex justify-between gap-4">
                    <div style="width: 100%">
                        <p>
                            Начало
                        </p>
                        <input style="width: 100%;" type="time" formControlName="startTime">
                    </div>
                    <div style="width: 100%">
                        <p>
                            Конец
                        </p>
                        <input style="width: 100%;" type="time" formControlName="endTime">
                    </div>
                </div>
            </div>
            <div class="input-box">
                <label>
                    <span style="color: var(--red);">* </span>
                    Город
                </label>
                <p-dropdown class="md:max-w-md md:w-full" [options]="cities" formControlName="city"></p-dropdown>
            </div>
            <div class="input-box">
                <label>
                    <span style="color: var(--red);">* </span>
                    Адрес
                </label>
                <input placeholder="Адрес" formControlName="address">
            </div>
            <div class="input-box">
                <label>
                    Ссылка на картинку
                </label>
                <input placeholder="url картинки" formControlName="img">
            </div>
            <div class="input-box">
                <label>Описание</label>
                <textarea placeholder="Описание" formControlName="description" rows="6" cols="40">
                </textarea>
            </div>
            <!-- <div class="map-container">
                <ya-map [center]="[
            data.coordinates[0],
            data.coordinates[1]
          ]" [zoom]="12">
                    <ya-placemark [geometry]="[
              data.coordinates[0],
              data.coordinates[1]
            ]"></ya-placemark>
                </ya-map>
            </div> -->
            <button [disabled]="loadingRes">Сохранить</button>
        </div>
    </form>
</p-dialog>