@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat';
  // outline: 1px solid green
}

:root {
  --hover-red: #b20f2b;
  --red: #ED2749;
  --sub-text: #757575;
  --gray: #D8DEE9;
  --side-margin: 10%;
}

html {
  overflow-y: scroll;
}

button,
input,
textarea {
  padding: 0.5rem;
  border-radius: 5px !important;
  font-size: 14px;
  font-weight: 500;
}

input,
textarea {
  border: 1px solid var(--gray);
}

button {
  color: var(--red);
  // border: 1px solid var(--red);
  background-color: var(--red);
  font-size: 14px;
  transition: .3s;
  color: white;
  padding: 8px 14px;

  &:hover {
    background-color: var(--hover-red);
    // color: white;
  }

  &:disabled {
    background-color: var(--gray) !important;
  } 
}

.text-button {
  background-color: transparent;
  color: var(--red);

  &:hover {
    color: white;
    background-color: var(--red);
  }
}

.red {
  color: var(--red)
}

.big-title {
  font-size: 24px;
  font-weight: 700;
}

.middle-title {
  font-size: 18px;
  font-weight: 500;
}

.sub-text {
  color: var(--sub-text);
  font-size: 12px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-container {
  margin: 0 2.5rem;
  margin-top: 126px;
}

.input-box {
  display: grid;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid var(--red); /* red */
}

// .ng-submitted {
//   .ng-invalid {
//     border-color: var(--red);
//   }
// }

@media (max-width: 640px) {
  .main-container {
    margin: 0 20px;
    margin-top: 126px;
  }
}